{% extends 'base.html' %} 
{% load static %} 
{% block head %}
{% endblock %} 
{% block content %}

<section class="page-header">
  <h1>All Monster Moves</h1>
</section>

<section class="card-container">
  {% for moves in moves_list %}
    <div class="card" style="border-color: {{ moves.color }}">
      <div class="card-bg" style="background-color: {{ moves.color }}"></div>
      <a href="{% url 'moves-detail' moves.id %}">
        <div class="card-content">
          <h2>{{ moves.get_special_display }}</h2>
          <p>Move Description: {{ moves.move_effect }}</p>
        </div>
      </a>
    </div>
  {% endfor %}
</section>

{% endblock %}